h2{
                color: darkblue;
                text-align: center;
            
                }

            body {
            color: aquamarine
                }

.center {
    text-align: center;
        }


#tabla1{
color: cadetblue;
}